*{
    box-sizing: border-box;
}
.logo{
    width: 20%;
    padding: 1.5%;
}
.i{
    background-color: darkblue;
    display: none;
    flex-direction: column;
    align-items: end;
}
i{
    color: white;
    padding: 2% 3% 2% 0;
}
nav{
    background-color: darkblue;
}
a{
    text-decoration: none;
    color: white;
}
nav>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav>div>div{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
h1{
    text-align: center;
    color: darkblue;
    padding: 2% 0 3% 0;
}
section>div>div{
    margin: 0 3% 3% 3%;
}
.s1{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgdescription{
    width:50%;
    text-align: center;
}
section>div>div>div>img{
    width: 70%;
}
h2{
    color: darkblue;
    margin-bottom: 5%;
}



.br{
    padding: 0.05%;
    margin: 0 10% 0 10%;
    background-color: black;
}
footer>div{
    background-color: darkblue;
    color: white;
    align-items: center;
}
footer>div>div{
    padding: 2%;
}

@media screen and (max-width:1024px) {
    .logo{
        width: 25%;
        padding: 2%;
    }
}

@media screen and (max-width:480px) {
    .logo{
        width: 30%;
        padding: 2%;

    }
    header>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        display: none;
    }
    .s1{
        display: flex;
        flex-direction: column;

    }
    .imgdescription{
        width: 100%;
    }
    .img{
        width: 100%;
    }
    section>div>div>div>img{
        width: 80%;
    }
    .i{
        display: flex;
    flex-direction: column;
    align-items: end;
    }
    
}
