*{
    box-sizing: border-box;
}
.logo{
    width: 20%;
    padding: 1.5%;
}
.i{
    background-color: darkblue;
    display: none;
    flex-direction: column;
    align-items: end;   
}
i{
    color: white;
    padding: 2% 3% 2% 0;
}

nav{
    background-color: darkblue;
    
}
a{
    text-decoration: none;
    color: white;
}
nav>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav>div>div{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


main{
    margin: 3% 2% 0 2%;
}
main>div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.carouselImages{
    width: 60%;
    margin: 3%;
}
.carouselP{
    width: 40%;
    align-content: center;
    text-align: center;

}
.description1{
    margin: 2% 3% 5% 3%;
}
body>div>div>p{
    margin: 0;
    text-align: center;
}
.br{
    padding: 0.05%;
    margin: 0 10% 0 10%;
    background-color: black;
}
footer>div{
    background-color: darkblue;
    color: white;
    align-items: center;
}
footer>div>div{
    padding: 2%;
}


@media screen and (max-width:1024px) {
    .logo{
        width: 25%;
        padding: 2%;
    }
}

@media screen and (max-width:480px) {
    .logo{
        width: 30%;
        padding: 2%;

    }
    header>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        display: none;    
    
    }
    main>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .carouselImages{
        width: 95%;
        margin: 3%;
    }
    .carouselP{
        width: 95%;
        text-align: center;
    
    }
    .i{
        display: flex;
    flex-direction: column;
    align-items: end;
    }
}
