section{
    margin: 0 15% 0 15%;
    h1{
        color: darkblue;
        text-align: center;
        margin: 5vh 0 8vh 0;
    }
    .formulario{
        .select-form, .email-form{
            margin: 3vh 0 3vh 0;
            label{
                margin-bottom: 1vh;
            }
        }
        .send-button{
           display: flex;
           flex-direction: column; 
           align-items: end;
           margin-bottom: 5vh;
           button{
            width: 20%;
           }
        }
    }    
}

@media screen and (max-width:480px) {
 section{
        margin: 0 10% 0 10%;
        .formulario{
            .send-button{
                button{
                    width: 40%;
                }
            }
        }    
    }
}
